# ENV
# ENVIRONMENT=production
ENVIRONMENT=development

# API KEYS
ANTHROPIC_API_KEY=<key>
GOOGLE_API_KEY=<key>

# JWT SECRET
SECRETKEY=<key>

# ADMIN PANEL SIGN UP KEY
REG_KEY=<key>

# AI models
ANTHROPIC_MODE_LIGHT=claude-3-5-haiku-20241022
ANTHROPIC_MODEL_MID=claude-3-5-sonnet-20241022
ANTHROPIC_MODEL_HEAVY=claude-3-5-sonnet-20241022

# Revalidate for NEXTJS
REVALIDATE_TIME_SECS=5

# MONGO AUTH
MONGO_USER=admin
MONGO_PASS=admin

# PORTS
ADMIN_PANEL_PORT=3004
AI_API_PORT=3003
CMS_PORT=3007
WEBSERVER_PORT=3000
MONGODB_PORT=27017

# PATHS
PUBLIC_CMS_URL=http://localhost:${CMS_PORT}
PUBLIC_AI_API_URL=http://localhost:${AI_API_PORT}
PUBLIC_WEBSERVER_URL=http://localhost:${WEBSERVER_PORT}