# This is a sample .env file. You should create your own .env file with your own values
# You will need a .env file for local development and production | .env.local | .env.prod

# ONLY NEEDED IF RUNNING LOCALLY NOT IN DOCKER

PORT=3002       # This is the port that the server will attach to
MONGO_PORT=27017
DB_ARTICLES_NAME=articles
DB_CHIPS_NAME=chips
DB_USERS_NAME=users
MONGO_USER=user
MONGO_PASS=pass