# This is a sample .env file. You should create your own .env file with your own values
# You will need a .env file for local development and production | .env.local | .env.prod

SITEMAP_ARTICLE_LIMIT=10 # How many articles to include in the sitemap. Will include this many latest articles
LOCAL_ACCESS_CMS=http://localhost:3002
DOMAIN_URL=localhost:3000
WEBSERVER_PUBLIC_FOLDER_URL=../webserver/public # Must be relative path to remain portable
