# This is a sample .env file. You should create your own .env file with your own values
# You will need a .env file for local development and production | .env.local | .env.prod

AI_API=route_to_api_relay_server        # The route to the api_proxy_server
CMS_ROUTE=route_to_cms_server           # The route to the CMS server
REVALIDATE_TIME_SECS=5                  # How frequently you want the site to rebuild with new static data